EDP Project/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyDBService.Entity" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyDBService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserById" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UnDeleteUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:UnDeleteUserById" />
  </wsdl:message>
  <wsdl:message name="IService1_UnDeleteUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnDeleteUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserById" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAttractionsAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAttractionsAll" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAttractionsAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAttractionsAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAttractions_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAttractions" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAttractions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAttractionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAttractions_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAttractions" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAttractions_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAttractionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectCategoryAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCategoryAll" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectCategoryAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCategoryAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAttractionsView_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAttractionsView" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAttractionsView_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAttractionsViewResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAttractionsList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAttractionsList" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAttractionsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAttractionsListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectCartList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCartList" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectCartList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCartListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchAttractions_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchAttractions" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchAttractions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchAttractionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllUser" message="tns:IService1_GetAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllUserResponse" message="tns:IService1_GetAllUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUserById" message="tns:IService1_DeleteUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserByIdResponse" message="tns:IService1_DeleteUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnDeleteUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UnDeleteUserById" message="tns:IService1_UnDeleteUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UnDeleteUserByIdResponse" message="tns:IService1_UnDeleteUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserById" message="tns:IService1_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserByIdResponse" message="tns:IService1_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateUserById" message="tns:IService1_UpdateUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateUserByIdResponse" message="tns:IService1_UpdateUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAttractionsAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectAttractionsAll" message="tns:IService1_SelectAttractionsAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectAttractionsAllResponse" message="tns:IService1_SelectAttractionsAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAttractions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectAttractions" message="tns:IService1_SelectAttractions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectAttractionsResponse" message="tns:IService1_SelectAttractions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAttractions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateAttractions" message="tns:IService1_CreateAttractions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateAttractionsResponse" message="tns:IService1_CreateAttractions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateCategory" message="tns:IService1_CreateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateCategoryResponse" message="tns:IService1_CreateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCategoryAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectCategoryAll" message="tns:IService1_SelectCategoryAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectCategoryAllResponse" message="tns:IService1_SelectCategoryAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectCategory" message="tns:IService1_SelectCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectCategoryResponse" message="tns:IService1_SelectCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAttractionsView">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectAttractionsView" message="tns:IService1_SelectAttractionsView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectAttractionsViewResponse" message="tns:IService1_SelectAttractionsView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAttractionsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectAttractionsList" message="tns:IService1_SelectAttractionsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectAttractionsListResponse" message="tns:IService1_SelectAttractionsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCartList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectCartList" message="tns:IService1_SelectCartList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectCartListResponse" message="tns:IService1_SelectCartList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchAttractions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchAttractions" message="tns:IService1_SearchAttractions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchAttractionsResponse" message="tns:IService1_SearchAttractions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUser">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserById">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnDeleteUserById">
      <soap:operation soapAction="http://tempuri.org/IService1/UnDeleteUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserById">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAttractionsAll">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectAttractionsAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAttractions">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectAttractions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAttractions">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateAttractions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCategoryAll">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectCategoryAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAttractionsView">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectAttractionsView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAttractionsList">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectAttractionsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCartList">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectCartList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAttractions">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchAttractions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MyDBService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>